.Button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  border: 0;
  border-radius: 2em;
  cursor: pointer;
  line-height: 1;
  display: inline-flex;
  align-items: center;
}

.Button-body {

}
.Button-startIcon {
  width: 24px;
  margin-left: -8px;

}
.Button-endIcon {
  width: 24px;
  margin-right: -8px;
}

.Button--primary {
  color: #fff;
  background-color: #1ea7fd;
}
.Button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 1px inset;
}
.Button--small {
  font-size: 12px;
  padding: 10px 12px;
}
.Button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.Button--large {
  font-size: 16px;
  padding: 12px 28px;
}
